<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hochschule Eden</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    nav {
      font-size: medium;
      background-color: #555;
      padding: 10px;
      text-align: center;
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    nav a {

      font-size: medium;

      color: #fff;
      text-decoration: none;
      margin: 0 15px;
    }

    nav form button {
      font-size: medium;
      background-color: none;
      background: none;
      border: none;
      color: #fff;
      text-decoration: none;
      margin: 0 15px;
    }

    section {
      padding: 20px;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>

<body>


  <header>
    <h1>Hochschule Eden</h1>
  </header>

  <% if (alertMessage && alertMessage.length> 0) { console.log(alertMessage) %>

  <script>
    alert("<%= alertMessage %>")
  </script>
  <% } %>


  <nav>

    <% if (user) { %>
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>

    <script>
        // This is client-side JavaScript logic
        console.log("test");
      </script>
    <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% } %>

    <a href="/dashboard">Dashboard</a>



  </nav>

  <section>
    <h2>Herzlich willkommen an unserer Universität<%= user %>!</h2>
    <p>Dies ist eine kurze Einführung in unsere Universität. Sie können bei Bedarf weitere Inhalte und
      Abschnitte hinzufügen.</p>
  </section>
  <footer>
    <p>&copy; 2023 Hochschule Eden. Alle Rechte vorbehalten.</p>
  </footer>

</body>

</html>