<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 1em;
      text-align: center;
    }

    section {
      margin: 20px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin: 5px 0;
    }

    a {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      color: black;
    }
  </style>
  <title>School Course Dashboard</title>
</head>

<body>

  <header>
    <h1>School Course Dashboard</h1>
  </header>

  <section>
    <h2>My Courses</h2>
    <button onclick="window.location.href = `/createcourse` ">Create Course</button>
    <ul>
      <% if(Courses) { %>
      <% Courses.forEach((Course => { %>
      <li>
        <a href="/course/<%=Course.id%>">
          <span><%= Course.name %></span>
        </a>
      </li>

      <% }))} %>
    </ul>
  </section>

  <% if(message) { %>
  <% message.forEach((item) => { %>
  <script>
    alert("<%= item %>")
  </script>
  <% }); %>
  <% } %>


</body>

</html>