<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
    }

    nav {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    h1 {
      font-size: 24px;
    }

    .speakers {
      font-size: 16px;
      margin-top: 8px;
    }
  </style>
</head>
<body>
  <nav>
    <h1>
      <%= subject.name %>
    </h1>
    <div class="speakers">List of Speakers:

      <% speaker.forEach((element ) => { %>
        <%= element.id %>
      <% }); %>



    </div>
    <button id="postButton">JOIN</button>
      <script>

        document.getElementById('postButton').addEventListener('click', () => {

          // Define the custom body data
          const requestBody = {
          };

          // Convert the data to JSON string
          const bodyString = JSON.stringify(requestBody);

          // Send the POST request using fetch
          fetch(window.location.pathname, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: bodyString
          })
            .then(response => {
              // Check if the response status is OK (200-299)
              if (response.ok) {
                console.log('ok');
              } else {
                console.error('Server returned an error:', response.status);
              }
            })
            .catch(error => {
              console.error('Fetch error:', error);
            })
        })
          ;
      </script>

  </nav>
  <%- subject.html_markdown_code %>

</body>

</html>